{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <div id="toppart">
      <h1>{{ room.label }}</h1>
      <p class="quiet">
        Before the game has started, Anyone with this URL can join the Table and Participate in the BlackQueen game: 
        <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code> 
      </p>
  </div>
  <p id="namediv">
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle">
    <form id="joingame">
        <button type="submit" id="join">Join Game</button>
    </form>
  </p>
  <div id="played_cards" class="playingCards simpleCards" style="display:table;" hidden>
    <ul class="table" style="
    overflow: hidden;
    float: left;">
    </ul>
  </div>
  <form id="bidview" hidden>
    <button type="submit" id="five" style="font-size: 20px;">Bid +5</button>
    <button type="button" id="pass" style="font-size: 20px;">Pass</button>
  </form>
    <div id="partner_view" hidden>
        <h5> Please select your partners :</h5>
        <label for="hakkam">Hakkam : </label>
    <select id="hakkam" style="display: inline;">
      <option value="0">Spades</option>
      <option value="1">Diamonds</option>
      <option value="2">Clubs</option>
      <option value="3">Hearts</option>
    </select>
    <div id="partner1">
            <label for="partner1value">Partner 1 : </label>
      <select id="partner1value" style="display: inline;">
        <option value="0">Ace</option>
        <option value="1">King</option>
        <option value="2">Queen</option>
      </select>
      <select id="partner1suit" style="display: inline;">
        <option value="0">Spades</option>
        <option value="1">Diamonds</option>
        <option value="2">Clubs</option>
        <option value="3">Hearts</option>
      </select>
    </div>
    <div id="partner2">
            <label for="partner2value">Partner 2 : </label>
      <select id="partner2value" style="display: inline;">
        <option value="0">Ace</option>
        <option value="1">King</option>
        <option value="2">Queen</option>
      </select>
      <select id="partner2suit" style="display: inline;">
        <option value="0">Spades</option>
        <option value="1">Diamonds</option>
        <option value="2">Clubs</option>
        <option value="3">Hearts</option>
      </select>
    </div>
        <div>
            <button type="button" id="select_partner">Select Partners</button>
        </div>
    </div>
  <h5 hidden id="bids_header"> Bids </h5>
  <h5 hidden id="hakkam_header"></h5>
  <h5 hidden id="status" hidden></h5>
  <h5 hidden>Your Cards</h5>
    <table id="bids_table" hidden>
      <thead>
        <tr>
            <th>Player</th>
            <th>Bid</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
          <tr>
            <td>{{ player.handle }}</td>
            <td id="bid-{{ player.handle }}"></td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>(*) indicates next player to bid.</td>
      </tr> 
      </tfoot>
    </table>
  <div class="playingCards simpleCards" style="display:table;">
    <ul class="table" id="hand">

    </ul>
  </div>
    <table id="points_table" hidden>
        <thead>
            <tr>
                <th>Player</th>
                <th>Cards</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  <table id="players">
      <thead>
        <tr>
            <th>Players</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
          <tr>
            <td>{{ player.handle }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Start Game : </td>
        <td colspan=2>
          <form id="startgame">
            <button type="submit" id="start">Lock Room and Start Game</button>
           </form>
        </td>
      </tr>
      </tfoot>
    </table>

  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Say it</button>
        </td>
      </tr>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}
